# fly.toml app configuration file generated for line-login-starter on 2026-02-05T16:46:59Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'line-login-starter'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 9000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[env]
  LINECORP_PLATFORM_CHANNEL_CALLBACKURL = "https://line-login-starter.fly.dev/auth"
  LINECORP_PLATFORM_CHANNEL_CHANNELID = "2009061831"
  LINECORP_PLATFORM_CHANNEL_CHANNELSECRET = "97229ac92acfd7d39edd7fb8a682cbfb"
